* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    --width-card: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;


}



h2,
h3,
p {
    margin: 20px 10px 0;
}


.wrapper {
margin-top: 100px;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(228, 224, 220);
    

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex: 0 0 270px;
    background-color: rgb(177, 180, 182);
    border-radius: 20px;
    min-height: 400px;
    margin: 20px 10px;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    width: 100%;
}

.user {
    display: flex;
    align-items: center;

    width: calc(var(--width-card)/2);
    height: calc(var(--width-card)/2);
    border-radius: 50%;
    overflow: hidden;
    margin-top: 30px;
}

img {
    width: calc(var(--width-card)/2);
    height: calc(var(--width-card)/2);
    object-fit: cover;
}


.boxrating {
    display: flex;
    flex-direction: row;

}

.rating {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    /* border: 1px solid grey; */
    color: rgb(231, 224, 224);
    margin-top: -7px;
    display: flex;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
}

.rating>i::before {
    content: "";
    color: rgb(246, 230, 80); 
}


header>i {
    padding: 2em;
}


article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10%;

}

.name {
    margin-bottom: auto;
}



footer {
    margin-top: auto;
}


button {
    width: 190px;
    height: 40px;
    margin: 10px 10px 0;
    border-radius: 8px;
    border: 1px solid blue;
    color: rgb(84, 104, 53);
    font-size: 1.1em;
}

button:hover {
    background-color: rgb(168, 168, 192);
    border: 1px solid #fff;
}

.offer {
    background-color: rgb(7, 131, 161);
    color: cornsilk;
}

.status {
    margin: 10px;
}